body {
    background-image: url('./round\ 2H.png'); 
    background-size: cover; 
  }

  .card { 
    background-color: black;
    border-radius: 8px; 
    padding: 20px; 
    opacity: 0.7; 
    margin-top: 120px;
    margin-left: 122px;
    height: 200px;
    width: 300px;
  }
  
  .card .card-content {
    opacity: 1;
    color: white;
  }

  .Pixelara{
    color: white;
    margin-left: 737px;
    margin-top: -222px;
    opacity: 0.09;
  }
  
