body {
    background-image: url('./round 2A.png'); 
    background-size: 1450px;
    background-repeat: no-repeat;
    
  }

  .card { 
    background-color: black;
    border-radius: 8px; 
    padding: 20px; 
    opacity: 0.5; 
    margin-top: 120px;
    margin-left: 750px;
    height: 200px;
    width: 300px;
  }
  
  .card .card-content {
    opacity: 1;
    color: white;
  }

  .Pixelara{
    margin-left: 600px;
    margin-top: -290px;
    font-size: 10px;
    color: #9998cc;
  } 

  .Pixelara:hover{
    color: #9998cc;
    cursor: pointer;
  }

 .python{
    margin-top: 10px;
 }
